@import 'variables';
@import 'variablesMedia';

.caterolink {
  height: 100%;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  a {
    text-decoration: none;
  }

  &--violet {
    background: #7f3fbf;
  }

  &--blue {
    background: #1f6feb;
  }

  &--green {
    background: #2da44e;
  }

  &--orange {
    background: #f0883e;
  }

  &--red {
    background: #cf222e;
  }

  &--yellow {
    background: #f9c513;
  }

  &-text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;

    @media (max-width: $media-queries-mobile) {
      font-size: 22px;
    }
  }
}
