@import 'variables';
@import 'variablesMedia';

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  gap: 4px;

  &-logo {
    width: 144px;
    height: 144px;
    object-fit: contain;

    @media (max-width: $media-queries-mobile) {
      width: 99px;
      height: 99px;
    }
  }

  &-link {
    text-decoration: none;
    color: white;
    background: blue;
    font-weight: 700;
    font-size: 24px;
    padding: 12px 24px;
    border-radius: 8px;

    &:hover {
      opacity: 0.9;
    }
  }
}
