@import 'variables';
@import 'variablesMedia';

.entrer {
  width: 500px;
  height: 300px;
  background: linear-gradient(to right, rgba(0, 128, 0, 0.5), rgba(0, 0, 255, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-decoration: none;
  }
}