@import 'variables'; 
@import 'variablesMedia'; 

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: $screen-maw-width;
    padding-top: 20px;

    @media (max-width: $media-queries-mobile) {
        padding-top: 0;
    }

    &-logoLink {
        display: flex;
        align-items: center;
    }

    &-logo {
        height: 48px;
        padding-left: $screen-padding;

        @media (max-width: $media-queries-mobile) {
            height: 33px;
            padding-left: $media-screen-padding;
        }
    }

    &-nav {
        display: flex;
        gap: 50px;
        padding-right: $screen-padding;
        font: 500 24px $font-text;;

        @media (max-width: $media-queries-mobile) {
            font: 500 12px $font-text; 
            gap: 25px;
            padding-right: $media-screen-padding;
        }
    }

    &-link {
        text-decoration: none;
        height: 48px;
        color: blue;
        font-weight: bold;
        font-size: 40px;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: none; 
        }
    }

    &-linkActive {
        text-decoration: none;
        color: blue;
        font-weight: bold;
        font-size: 40px;
        display: flex;
        align-items: center;
    }

    &-left {
        display: flex;
        align-items: center;
        padding-left: $screen-padding;

        @media (max-width: $media-queries-mobile) {
            padding-left: $media-screen-padding;
        }
    }

    &-chevron {
        color: blue;
        font-weight: bold;
        font-size: 40px;
        display: flex;
        align-items: center;
    }

    &-right {
        display: flex;
        align-items: center;
        padding-right: $screen-padding;

        @media (max-width: $media-queries-mobile) {
            padding-right: $media-screen-padding;
        }
    }

    &-dots {
        color: blue;
        font-weight: bold;
        font-size: 40px;
        display: flex;
        align-items: center;
    }

}

.header--inverse {
    background: blue;
}

.header--inverse .header-link,
.header--inverse .header-linkActive,
.header--inverse .header-chevron,
.header--inverse .header-dots {
    color: white;
}
