@import 'variables';
@import 'variablesMedia'; 
 
.index {
  font-family: $font-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &-container {
    max-width: $screen-maw-width;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 1;

    @media (max-width: $media-queries-mobile) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

  }

}

.index--question {
  align-items: stretch;
}

.index--question .footer {
  background-color: white;
}

.index--question .index-container {
  max-width: 100%;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.index--question .footer-bar {
  display: none;
}
