@import 'variables';
@import 'variablesMedia';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &-image {
    display: block;
    width: min(500px, 100%);
    height: auto;
  }
}
